#logo {
	width:45px;
	height:45px;
	color:grey;
	padding:2px;
	margin-left:5px;
	
}
#log {
	color:#f2f2f2;
	font-weight:bolder;
	font-size:30px;
}
#logout {
	height:40px;
	margin:4px;
}
.header {
	background-color:grey;
	height:50px;
	margin:5px;
	border:2px solid #f2f2f2;
}

.text {
	padding:10px;
}
#diary-text {
	width:100%;
	height:565px;
	border:5px solid #f2f2f2;
	background-image:url("img/background.jpg");
	color:#f2f2f2;
	font-weight:bolder;
	font-size:20px;
	
}
body {
	background-color:black;
}
.footer {
	background-color:grey;
	height:50px;
	margin:5px;
	text-align:center;
	padding:15px;
	font-size:20px;
	font-weight:bolder;
	color:#f2f2f2;
	border:2px solid #f2f2f2;
}
#uname {
	border:1px solid #f2f2f2;
	text-align:center;
	padding:13px;
	margin-left:5px;
	color:#f2f2f2;
}