{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Secret Diary</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static '/css/Home.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        #diary-text {
    width:100%;
    height:600px;
    border:5px solid #f2f2f2;
    background-image:url("{% static '/img/background.jpg' %}");
    color:#f2f2f2;
    font-weight:bolder;
    font-size:20px;
    
}
    </style>
</head>
<body>
	<div class="header row row-content">
		<div class="col-xs-10"><a href="/" id="log"><img id="logo" src="{% static '/img/logo.png' %}">SECRET DIARY</a>
        </div>
		<div class="col-xs-2">
            <div class="dropdown">
                <a class="dropbtn">{% for i in diarydetail %}{% if i.img == "None" %}<img id="profile-pic" src="{% static 'img/profile.png' %}">{% else %}<img id="profile-pic" src="{{ i.img.url }}" >{% endif %}&nbsp;&nbsp;{{ request.user }}{% endfor %}</a>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
	</div>
	<div class="text">
        <form method="POST" action="/">
            {% csrf_token %}
    		<textarea id="diary-text" name="detail" placeholder="Start writing">{% for i in diarydetail %}{% if i.detail %}{{ i.detail}}{% else %}Start Writing Your Secret Diary{% endif %}{% endfor %}</textarea>
            <button type="submit" id="save" class="btn btn-success btn-lg">Save</button>
        </form>    
	</div>
	<div class="footer">FOOTER</div>
</body>
</html>