#logo {
    width:45px;
    height:45px;
    color:grey;
    
}
#log {
    color:white;
    font-weight: bolder;
    text-decoration: none;
    font-size: larger;
}
#logout {
    height:40px;
    margin:4px;
}
.header {
    background-color:grey;
    height:50px;
    margin:5px;
    border:2px solid #f2f2f2;
}

.text {
    padding:10px;
    text-align: center;
}

body {
    background-color:black;
}
.footer {
    background-color:grey;
    height:50px;
    margin:5px;
    text-align:center;
    padding:15px;
    font-size:20px;
    font-weight:bolder;
    color:#f2f2f2;
    border:2px solid #f2f2f2;
}
#uname {
    
    text-align:center;
    margin-left:10px;
    font-weight: bolder;
    color: black;
}

#profile-pic {
    width:45px;
    height:45px;
    border-radius: 50%;
}

/* dropdown menu */

.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    margin-left: 80px;

}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
margin-left: 80px;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:None;
text-decoration: none;}