.error {
    color:red;
}

#logo {
    width:45px;
    height:45px;
    color:grey;
    padding:2px;
    margin-left:5px;
    
}
#log {
    color:#f2f2f2;
    font-weight:bolder;
    font-size:30px;
}
#sign {
    height:40px;
    margin:4px;
}
#sign:hover {
  background-color: lightgrey;
}
.header {
    background-color:grey;
    height:55px;
    margin:5px;
    border:5px solid #f2f2f2;
    border-radius:2px;
}
.loginpanel {
    text-align:center;
    background-color:transparent;
    margin-top:100px;
    
}
.login {
    background-color:transparent;
    padding:30px;
    font-weight:bolder;
    font-size:20px;
    color:white;
}
input {
    background-color:lightgrey;
    color:black;
}

.modal-header {
    background-color:grey;
}
.modal-title {
    font-weight:bolder;
    font-size:25px;
}
.modal-body {
    font-weight:bolder;
    background-color:lightgrey;
}
.modal-footer {
    background-color:lightgrey;
}